# coding: utf-8

"""
    SMApi

    SecurityMetrics' Application Programming Interface  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: support@securitymetrics.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class MerchantApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_merchant(self, body, partner_uuid, **kwargs):  # noqa: E501
        """Create a Merchant  # noqa: E501

        Create a Merchant  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_merchant(body, partner_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantPost body: Merchant to be added to the system (required)
        :param str partner_uuid: UUID of Partner to add Merchant to (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_merchant_with_http_info(body, partner_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.create_merchant_with_http_info(body, partner_uuid, **kwargs)  # noqa: E501
            return data

    def create_merchant_with_http_info(self, body, partner_uuid, **kwargs):  # noqa: E501
        """Create a Merchant  # noqa: E501

        Create a Merchant  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_merchant_with_http_info(body, partner_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantPost body: Merchant to be added to the system (required)
        :param str partner_uuid: UUID of Partner to add Merchant to (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'partner_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_merchant`")  # noqa: E501
        # verify the required parameter 'partner_uuid' is set
        if ('partner_uuid' not in params or
                params['partner_uuid'] is None):
            raise ValueError("Missing the required parameter `partner_uuid` when calling `create_merchant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'partner_uuid' in params:
            path_params['partner_uuid'] = params['partner_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/partners/{partner_uuid}/merchants', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MerchantWithLinks',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_merchant(self, merchant_uuid, **kwargs):  # noqa: E501
        """Delete a Merchant by UUID  # noqa: E501

        Delete a Merchant by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_merchant(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_merchant_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_merchant_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
            return data

    def delete_merchant_with_http_info(self, merchant_uuid, **kwargs):  # noqa: E501
        """Delete a Merchant by UUID  # noqa: E501

        Delete a Merchant by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_merchant_with_http_info(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_uuid' is set
        if ('merchant_uuid' not in params or
                params['merchant_uuid'] is None):
            raise ValueError("Missing the required parameter `merchant_uuid` when calling `delete_merchant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'merchant_uuid' in params:
            path_params['merchant_uuid'] = params['merchant_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/merchants/{merchant_uuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_merchant(self, merchant_uuid, **kwargs):  # noqa: E501
        """Find a single Merchant using their UUID  # noqa: E501

        Returns a Merchant and related metadata by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchant(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to query (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_merchant_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_merchant_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
            return data

    def get_merchant_with_http_info(self, merchant_uuid, **kwargs):  # noqa: E501
        """Find a single Merchant using their UUID  # noqa: E501

        Returns a Merchant and related metadata by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchant_with_http_info(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to query (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_uuid' is set
        if ('merchant_uuid' not in params or
                params['merchant_uuid'] is None):
            raise ValueError("Missing the required parameter `merchant_uuid` when calling `get_merchant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'merchant_uuid' in params:
            path_params['merchant_uuid'] = params['merchant_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/merchants/{merchant_uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MerchantWithLinks',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_merchant_compliance(self, merchant_uuid, **kwargs):  # noqa: E501
        """Find the compliance information for a single Merchant using their UUID  # noqa: E501

        Returns the compliance information of a single Merchant  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchant_compliance(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to query (required)
        :return: ComplianceGet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_merchant_compliance_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_merchant_compliance_with_http_info(merchant_uuid, **kwargs)  # noqa: E501
            return data

    def get_merchant_compliance_with_http_info(self, merchant_uuid, **kwargs):  # noqa: E501
        """Find the compliance information for a single Merchant using their UUID  # noqa: E501

        Returns the compliance information of a single Merchant  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchant_compliance_with_http_info(merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str merchant_uuid: UUID of Merchant to query (required)
        :return: ComplianceGet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchant_compliance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_uuid' is set
        if ('merchant_uuid' not in params or
                params['merchant_uuid'] is None):
            raise ValueError("Missing the required parameter `merchant_uuid` when calling `get_merchant_compliance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'merchant_uuid' in params:
            path_params['merchant_uuid'] = params['merchant_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/merchants/{merchant_uuid}/compliance', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ComplianceGet',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_merchants(self, **kwargs):  # noqa: E501
        """Get all Merchants  # noqa: E501

        Returns all Merchants  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchants(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sfdc_network_member_id: (Internal Use) Salesforce network member id. 'null' returns all records with a null sfdc_network_member_id.
        :param str last_modified_date: (Internal Use) date merchant was last modified
        :param str last_synced_date: (Internal Use) date merchant was last synced
        :param bool unsynced: (Internal Use) check if merchant.last_changed > merchant.last_synced_date
        :param str mid: Merchant ID
        :return: LinkedMerchantEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_merchants_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_merchants_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_merchants_with_http_info(self, **kwargs):  # noqa: E501
        """Get all Merchants  # noqa: E501

        Returns all Merchants  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchants_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str sfdc_network_member_id: (Internal Use) Salesforce network member id. 'null' returns all records with a null sfdc_network_member_id.
        :param str last_modified_date: (Internal Use) date merchant was last modified
        :param str last_synced_date: (Internal Use) date merchant was last synced
        :param bool unsynced: (Internal Use) check if merchant.last_changed > merchant.last_synced_date
        :param str mid: Merchant ID
        :return: LinkedMerchantEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sfdc_network_member_id', 'last_modified_date', 'last_synced_date', 'unsynced', 'mid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchants" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'sfdc_network_member_id' in params:
            query_params.append(('sfdc_network_member_id', params['sfdc_network_member_id']))  # noqa: E501
        if 'last_modified_date' in params:
            query_params.append(('last_modified_date', params['last_modified_date']))  # noqa: E501
        if 'last_synced_date' in params:
            query_params.append(('last_synced_date', params['last_synced_date']))  # noqa: E501
        if 'unsynced' in params:
            query_params.append(('unsynced', params['unsynced']))  # noqa: E501
        if 'mid' in params:
            query_params.append(('mid', params['mid']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/merchants', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LinkedMerchantEntries',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_merchants_by_partner_id(self, partner_uuid, **kwargs):  # noqa: E501
        """Get Merchants by Partner  # noqa: E501

        Returns all Merchants for Partner by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchants_by_partner_id(partner_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str partner_uuid: UUID of Partner to query for Merchants (required)
        :return: LinkedMerchantEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_merchants_by_partner_id_with_http_info(partner_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_merchants_by_partner_id_with_http_info(partner_uuid, **kwargs)  # noqa: E501
            return data

    def get_merchants_by_partner_id_with_http_info(self, partner_uuid, **kwargs):  # noqa: E501
        """Get Merchants by Partner  # noqa: E501

        Returns all Merchants for Partner by UUID  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_merchants_by_partner_id_with_http_info(partner_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str partner_uuid: UUID of Partner to query for Merchants (required)
        :return: LinkedMerchantEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['partner_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_merchants_by_partner_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'partner_uuid' is set
        if ('partner_uuid' not in params or
                params['partner_uuid'] is None):
            raise ValueError("Missing the required parameter `partner_uuid` when calling `get_merchants_by_partner_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'partner_uuid' in params:
            path_params['partner_uuid'] = params['partner_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/partners/{partner_uuid}/merchants', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LinkedMerchantEntries',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_merchant(self, body, merchant_uuid, **kwargs):  # noqa: E501
        """Update the information of a single Merchant  # noqa: E501

        Update Merchant info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_merchant(body, merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantPut body: Fields to be updated on the Merchant (required)
        :param str merchant_uuid: UUID of a Merchant to update (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_merchant_with_http_info(body, merchant_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.update_merchant_with_http_info(body, merchant_uuid, **kwargs)  # noqa: E501
            return data

    def update_merchant_with_http_info(self, body, merchant_uuid, **kwargs):  # noqa: E501
        """Update the information of a single Merchant  # noqa: E501

        Update Merchant info  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_merchant_with_http_info(body, merchant_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param MerchantPut body: Fields to be updated on the Merchant (required)
        :param str merchant_uuid: UUID of a Merchant to update (required)
        :return: MerchantWithLinks
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'merchant_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_merchant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_merchant`")  # noqa: E501
        # verify the required parameter 'merchant_uuid' is set
        if ('merchant_uuid' not in params or
                params['merchant_uuid'] is None):
            raise ValueError("Missing the required parameter `merchant_uuid` when calling `update_merchant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'merchant_uuid' in params:
            path_params['merchant_uuid'] = params['merchant_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'application/vnd.sm-api-v1+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['Authorization']  # noqa: E501

        return self.api_client.call_api(
            '/merchants/{merchant_uuid}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='MerchantWithLinks',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
